/* src/App.css */
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 10px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.start-button {
  background-color: green;
  color: white;
}

.stop-button {
  background-color: red;
  color: white;
}

.config-button {
  background-color: yellow;
  color: black;
}
